<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Horizontal Sharding" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Tenant: <%= @tenant&.name || "Unrecognized" %></h1>
        <% if @tenant %>
          <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Last 10 registered visits:</p>
      <% end %>
        <div class="mt-10 flex flex-col items-center justify-center gap-x-6">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
